<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="social.network" level="trace"/>

    <property name="pattern" value="%d{yyyy.MMM.dd HH:mm:ss.SSS} %level - %msg%n" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

        <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
            <file>error.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <append>true</append>
            <encoder>
                <pattern>${pattern}</pattern>
            </encoder>
        </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

    <root level="error">
        <appender-ref ref="ERROR_FILE" />
    </root>

</configuration>